<div class="page-wrapper">
    {{ render '@header' }}

    <div class="dashboard container">
        <div class="grid">
            <div class="grid__column grid__column--1-4 dashboard__sidebar">
                {{ render '@dashboard-nav' }}
            </div>

            <div class="grid__column grid__column--3-4 dashboard__content">
                <div class="grid grid--align-start">
                    {{#each wishlistItems}}
                        <div class="wishlist__item grid__column grid__column--1-3">
                            {{ render '@catalog-grid-item' }}
                            {{ render '@input--textarea' textarea }}

                            <div class="wishlist__item-inner">
                                {{ render '@input--inline' qty }}
                                <div class="wishlist__item-actions">
                                    {{ render '@button--icon' editIcon }}
                                    {{ render '@button--icon' removeIcon }}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="wishlist__actions">
                    {{#each actions}}
                        {{render '@button--secondary' this}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{ render '@footer' }}
