<div class="mega-menu">
    <ul class="mega-menu__list container">
        {{#each list}}
            <li class="mega-menu__item {{ class }}">
                <a href="{{{ link }}}" class="mega-menu__link">
                    {{ text }}
                </a>
                {{#if nestedList}}
                    <ul
                        class="
                            mega-menu__inner-list
                            mega-menu__inner-list--level1
                        "
                    >
                        {{#each nestedList}}
                            <li
                                class="
                                    mega-menu__inner-item
                                    mega-menu__inner-item--level1
                                    {{#if modifier}}
                                        {{modifier}}
                                    {{/if}}
                                "
                            >
                                <a href="{{{ link }}}"
                                   class="
                                       mega-menu__link
                                       mega-menu__link--inner-heading
                                   "
                                >
                                    {{ heading }}
                                </a>

                                {{> '@list--link'
                                    listTag="ul"
                                    elementTag="li"
                                }}
                            </li>
                        {{/each}}

                        <li
                            class="
                                mega-menu__inner-item
                                mega-menu__inner-item--image
                            "
                        >
                            {{> '@image' src="/images/banner/banner-480_480.png" additionalClasses="mega-menu__image" }}
                        </li>
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
