<li class="dropdown-list__item dropdown-list__item--collapse filter">
    <div class="dropdown-list__label filter__label"
         data-dropdown="{{id}}"
    >
        {{title}}
        <svg class="dropdown-list__icon">
            <use href="{{ svg 'angle-down' }}"></use>
        </svg>
    </div>
    <div id="{{id}}"
         class="dropdown-list__content filter__content"
         data-content="{{id}}"
         aria-hidden="true"
    >
        {{# each checkboxes }}
            {{> '@checkbox--link' this }}
        {{/each}}

        <a href="#" class="filter__show-all">Show All</a>
        <div class="filter__divider"></div>
    </div>
</li>
