<li class="filter dropdown-list__item  dropdown-list__item--collapse">
    <div class="filter__label dropdown-list__label"
         data-dropdown="{{id}}"
    >
        {{title}}

        {{ render '@icon' icon }}
    </div>
    <div id="{{id}}"
         class="filter__content dropdown-list__content"
         data-content="{{id}}"
         aria-hidden="true"
    >
        <div class="filter__swatch {{ class }}" {{{ attributes }}}>
            {{#each options }}
                <a href="{{href}}"
                   class="filter__swatch-option {{ this.class }}"
                   aria-label="{{this.ariaLabel}}"
                   {{{ this.attributes }}}
                >
                    {{ this.text }}
                </a>
            {{/each }}
        </div>
        <div class="filter__divider"></div>
    </div>
</li>
