<li class="dropdown-list__item dropdown-list__item--collapse filter {{ class }}">
    <div
        class="filter__label dropdown-list__label"
        aria-controls="{{ id }}"
        aria-expanded="false"
    >
        {{ title }}
        {{ render '@icon' icon }}
    </div>
    <div
        id="{{ id }}"
        class="dropdown-list__content filter__content"
        data-content="{{ id }}"
        aria-hidden="true"
    >
        <ul class="list filter__swatch" {{{ attributes }}}>
            {{#each options }}
                <li class="filter__swatch-item">
                    <a
                        href="{{ href }}"
                        class="filter__swatch-option {{ class }}"
                        aria-label="{{ ariaLabel }}"
                        {{{ attributes }}}
                    >
                        {{ text }}
                    </a>
                </li>
            {{/each }}
        </ul>
        <div class="filter__divider"></div>
    </div>
</li>
