<li class="dropdown-list__item dropdown-list__item--collapse filter {{ class }}">
    <div
        class="dropdown-list__label filter__label"
        aria-controls="{{ id }}"
        aria-expanded="false"
    >
        {{ title }}
        {{ render '@icon' icon }}
    </div>
    <div
        id="{{ id }}"
        class="dropdown-list__content filter__content"
        data-content="{{ id }}"
        aria-hidden="true"
    >
        <div class="filter__color">
            {{#each options }}
                <a
                    href='{{ href }}'
                    class="filter__color-option {{ class }}"
                    aria-label="{{ ariaLabel }}"
                >
                    <div
                        class="filter__color-sample"
                        {{{ attributes }}}
                    ></div>
                    <span class="filter__color-label">
                        {{ label }}
                    </span>
                </a>
            {{/each }}
        </div>
        <div class="filter__divider"></div>
    </div>
</li>
