<div class="bundle-option {{ class }}" {{{ attributes }}}>
    {{#if title}}
        <{{{title.tag}}} class="bundle-option__title">
            {{ title.message }}
        </{{{title.tag}}}>
    {{/if}}

    {{#each fields as |field| }}
        {{ render (component field.content) field.config merge=true }}
    {{/each}}

    {{#if qty }}
        {{ render '@input' qty merge=true }}
    {{/if}}
</div>
