<div class="search-block">
    <div class="search-block__toggle-btn">
        <svg class="search__icon ">
            <use xlink:href="/images/icons-sprite.svg#search"></use>
        </svg>
    </div>
    <form class="search-block__form"
          id="search_mini_form"
          action="#"
          method="get"
    >
        <div class="search">
            <div class="input search__input">
                <label class="input__label"
                       for="search"
                >
                    Search
                </label>
                <input id="search"
                       type="text"
                       name="{{ name }}"
                       value="{{ value }}"
                       placeholder="{{ placeholder }}"
                       class="input__field"
                       maxlength="{{ maxlength }}"
                       role="combobox"
                       aria-haspopup="false"
                       aria-autocomplete="both"
                       autocomplete="off"
                />
            </div>
            <button type="submit"
                    title="Search"
                    class="button search__button"
            >
                Search
            </button>
        </div>
        <div id="search_autocomplete" class="search-autocomplete"></div>
    </form>
</div>
<script src="{{static 'search.js'}}" defer></script>
