<div class="swatch {{ class }}" {{{ attributes }}}>
    {{#if heading}}
        <{{{ heading.tag }}} class="swatch__title {{ heading.class }}">
            {{ heading.text }}
        </{{{ heading.tag }}}>
    {{/if}}

    {{#each options }}
        <div class="swatch__option {{ this.class }}" {{{ this.attributes }}}>
            {{ this.text }}
        </div>
    {{/each }}
</div>
