<div class="swatch {{ class }}" {{{ attributes }}}>
    <{{{ heading.tag}}} class="swatch__title {{ heading.class }}">
        {{ heading.title }}
    </{{{ heading.tag}}}>

    <div class="swatch__wrapper">
        {{#each options }}
            <div class="swatch__option {{ this.class }}" {{{ this.attributes }}}>
                {{ this.text }}
            </div>
        {{/each }}
    </div>
</div>
