<{{{ tag }}} class="products-grid-item {{ class }}">
    {{#if badge}}
        {{ render (component badge.name) badge.context }}
    {{/if}}

    <a href="#" class="products-grid-item__link">
        <div class="products-grid-item__image-wrapper">
            {{ render '@image' image }}
        </div>
    </a>

    <section class="
                 products-grid-item__flex-wrapper
                 products-grid-item__main
             "
    >
        <h2 class="products-grid-item__name">
            <a href="#"
               class="products-grid-item__link"
            >
                {{ name }}
            </a>
        </h2>
        <div class="products-grid-item__price">
            {{ render (component price.name) price.context }}
        </div>
    </section>

    <section class="products-grid-item__details">
        <div class="products-grid-item__flex-wrapper">
            <div class="
                     products-grid-item__name
                     products-grid-item__name--one-line
                "
            >
                <a href="#"
                   class="products-grid-item__link"
                >
                    {{ name }}
                </a>
            </div>

            <div class="products-grid-item__price">
                {{ render (component price.name) price.context }}
            </div>
        </div>

        <div class="products-grid-item__options">
            {{#each swatches as |swatch|}}
                <ul class="
                        swatch-attribute-options
                        {{#if this.modifier}}
                            swatch-attribute-options--{{ swatch.modifier }}
                        {{/if}}
                    "
                    attribute-code="{{ swatch.attributeCode }}"
                    attribute-id="{{ swatch.attributeId }}"
                >
                    {{#each swatch.data}}
                        <li class="
                                swatch-attribute-options__item
                                swatch-attribute-options__item--{{ swatch.modifier }}
                                {{#if this.selected}}
                                    swatch-attribute-options__item--{{ swatch.modifier }}-selected
                                {{/if}}
                            "
                            option-type="{{ this.type }}"
                            option-id="{{ this.id }}"
                            option-label="{{ this.label }}"
                            option-tooltip-value="{{ this.tooltipValue }}"
                            {{ this.tooltipType }}
                        >
                            {{#if this.image}}
                                {{render '@image' this.image}}
                            {{else}}
                                {{ this.label }}
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            {{/each}}
        </div>

        <div class="products-grid-item__actions">
            {{ render '@button' primaryAction }}

            <button class="products-grid-item__secondary-action">
                <svg class="icon">
                    <use xlink:href="{{ svg 'heart' }}"></use>
                </svg>
            </button>

            <button class="products-grid-item__secondary-action">
                <svg class="icon">
                    <use xlink:href="{{ svg 'compare' }}"></use>
                </svg>
            </button>
        </div>
    </section>
</{{{ tag }}}>
