<{{{ tag }}} class="products-grid-item {{ class }}">
    {{#if badge}}
        {{ render (component badge.name) badge.context }}
    {{/if}}

    <a href="#" class="products-grid-item__link">
        <div class="products-grid-item__image-wrapper">
            {{ render '@image' image }}
        </div>
    </a>

    <section class="
                 products-grid-item__flex-wrapper
                 products-grid-item__main
             "
    >
        <h2 class="products-grid-item__name">
            <a href="#"
               class="products-grid-item__link"
            >
                {{ name }}
            </a>
        </h2>
        <div class="products-grid-item__price">
            {{ render (component price.name) price.context }}
        </div>
    </section>

    <section class="products-grid-item__details">
        <div class="products-grid-item__flex-wrapper">
            <div class="
                     products-grid-item__name
                     products-grid-item__name--one-line
                "
            >
                <a href="#"
                   class="products-grid-item__link"
                >
                    {{ name }}
                </a>
            </div>

            <div class="products-grid-item__price">
                {{ render (component price.name) price.context }}
            </div>
        </div>

        <div class="products-grid-item__options">
            {{#each swatches as |swatch|}}
                {{ render (component swatch.name) swatch.context }}
            {{/each}}
        </div>

        <div class="products-grid-item__actions">
            {{ render '@button' primaryAction }}

            <button class="products-grid-item__secondary-action">
                {{ render '@icon' secondaryActions.0.icon }}
            </button>

            <button class="products-grid-item__secondary-action">
                {{ render '@icon' secondaryActions.1.icon }}
            </button>
        </div>
    </section>
</{{{ tag }}}>
