<div class="page-wrapper">
    {{ render '@header' }}
    <div class="dashboard container">
        <div class="grid">
            <div class="grid__column grid__column--1-4 dashboard__sidebar">
                {{ render '@dashboard-nav' }}
            </div>
            <div class="grid__column grid__column--3-4 dashboard__content">
                {{ render '@title-wrapper' titleWrapper }}
                {{> '@dashboard-table' itemsOrdered }}
                {{ render '@toolbar' toolbar merge=true }}
            </div>
        </div>
    </div>
</div>
{{ render '@footer' }}
