<{{{ tag }}} class="button {{ class }}" {{{ attributes }}}>
    {{{ text }}}
    {{#if icon }}
        <svg class="{{ icon.class }}">
            {{#if iconTitle }}
                <title>{{ icon.iconTitle }}</title>
            {{/if}}
            <use xlink:href="{{ svg icon.iconId }}"></use>
        </svg>
    {{/if}}
</{{{ tag }}}>
