{{#if asLink}}
    <a href="#"
       class="
            button button--{{ modifier }}
            {{#if additionalClass}}
                {{ additionalClass }}
            {{/if}}
       "
    >
        {{ text }}
        {{#if iconId }}
            <svg title="{{ iconId }}" class="{{ iconClass }}">
                <use xlink:href="#{{ iconId }}"></use>
            </svg>
        {{/if}}
    </a>
{{else}}
    <button type="button"
            name="button"
            class="
                button
                {{#if modifier}}
                    button--{{ modifier }}
                {{/if}}
                {{#if modifier2}}
                    button--{{modifier2}}
                {{/if}}
                {{#if additionalClass}}
                    {{ additionalClass }}
                {{/if}}
            "
    >
        {{ text }}
        {{#if iconId }}
            <svg title="{{ iconId }}" class="{{ iconClass }}">
                <use xlink:href="#{{ iconId }}"></use>
            </svg>
        {{/if}}
    </button>
{{/if}}
