<div class="tabs{{#if modifier}} tabs--{{modifier}}{{/if}}">
    {{#each tabs as |tab|}}
        <div class="tabs__title{{#if active}} active{{/if}}" data-tab="{{ tabId }}">
            <svg class="tabs__icon">
                <use xlink:href="#plus"></use>
            </svg>
            {{ title }}
        </div>

        <div class="tabs__content {{#if active}} active{{/if}}"
             data-tabcontent="{{ tabId }}"
        >
            {{#if contentList}}
                <ul class="tabs__list">
                    {{#each content}}
                        <li class="tabs__list-item">
                            <span class="list__item-label">
                                {{ label }}
                            </span>
                            <span class="list__item-value">
                                {{ value }}
                            </span>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>{{ content }}</p>
            {{/if}}
        </div>
    {{/each}}
</div>

<script src="{{static 'tabs.js' }}"></script>
