<div class="tabs {{#if modifier}}tabs--{{modifier}}{{/if}}">
    {{#each tabs as |tab|}}
        <div class="tabs__title {{#if active}}tabs__title--active{{/if}}"
             data-tab="{{ tabId }}"
        >
            <svg class="tabs__icon">
                <use xlink:href="#plus"/>
            </svg>
            {{ title }}
        </div>

        <div class="tabs__content {{#if active}}tabs__content--active{{/if}}"
             data-content="{{ tabId }}"
        >
            <p class="paragraph">
                {{ content }}
            </p>
        </div>
    {{/each}}
</div>

<script src="{{static 'tabs.js' }}"></script>
