<div class="input {{ class }}" {{{ attribute }}}>
    <label class="input__label {{ label.class }}"
           for="{{ field.id }}"
           {{ label.attribute }}
    >
        {{ label.text }}
    </label>

    <textarea class="input__field input__field--textarea {{ field.class }}"
              id="{{ field.id }}"
              name="{{ field.name }}"
              placeholder="{{ field.placeholder }}"
              {{ field.attribute }}
    ></textarea>
</div>
