<div class="input {{ class }}" {{{ attribute }}}>
    <label class="input__label {{ label.class }}"
           for="{{inputId}}"
           {{{ label.attribute }}}
    >
        {{ label.text }}
    </label>

    <input class="input__field {{ field.class }}"
           id="{{inputId}}"
           type="text"
           placeholder="{{ field.placeholder }}"
           {{{ field.attribute }}}
    >
</div>
