<div class="input {{ class }}" {{{ attribute }}}>
    <label class="
               label
               {{#if label.hidden }}
                   label--hidden
               {{/if}}
               {{ label.class }}
           "
           for="{{ field.id }}"
           {{{ label.attribute }}}
    >
        {{ label.text }}
    </label>
    <input class="input__field {{ field.class }}"
           id="{{ field.id }}"
           name="{{ field.name }}"
           type="text"
           placeholder="{{ field.placeholder }}"
           {{{ field.attribute }}}
    >
</div>
