<div class="input {{ class }}" {{{ attribute }}}>
    <label class="input__label {{ label.class }}"
           for="textarea"
           {{{ label.attribute }}}
    >
        {{ label.text }}
    </label>

    <textarea class="input__field input__field--textarea"
              id="textarea"
              placeholder="{{ input.placeholder }}"
              {{{ input.attribute }}}
    ></textarea>
</div>
