<div class="input {{ class }}" {{{ attribute }}}>
    {{#if label.visibility}}
        <label class="input__label {{ label.class }}"
               for="input"
               {{{ label.attribute }}}
        >
            {{ label.text }}
        </label>
    {{/if}}
    <input class="input__field {{ field.class }}"
           id="input"
           type="text"
           placeholder="{{ field.placeholder }}"
           {{{ field.attribute }}}
    >
</div>
