<svg
    class="icon {{ class }}"
    {{{ attributes }}}
    {{#if hidden}}
        role="presentation"
    {{else}}
        role="img"
    {{/if}}
>
    {{#if iconTitle }}
        <title>{{ iconTitle }}</title>
    {{/if}}
    <use xlink:href="{{ svg iconId }}"></use>
</svg>
