<div class="paragraph">
    <p class="paragraph--text">
        {{basicText}}

        <a href="#" class="paragraph--link">
            {{basicText}}
        </a>
    </p>

    <span class="paragraph--text-hook">
        {{basicText}}
    </span>

    <pre class="paragraph--preformatted-text">
        {{basicText}}
    </pre>

    <blockquote class="paragraph--quote">
        {{basicText}}
    </blockquote>
</div>