<div class="password-strength {{ class }}">
    <div class="password-strength__progress {{ strengthProgressClass }}">
        {{ text }}
        <span class="{{ strengthIndicatorClass }}">
            {{ noPassword }}
        </span>
    </div>
</div>
