<div class="review--add {{ class }}" {{{ attributes }}}>
    <div class="review__rating">
        {{ render '@rating' }}
        {{ render '@link' amount }}
    </div>

    {{ render '@link' addReview }}
</div>
