<div class="review--add {{ class }}" {{{ attributes }}}>
    <div class="review__rating">
        {{ render '@rating' }}
        {{ render '@link' amount }}
    </div>

    <div class="review__divider">
        {{ render '@link' addReview }}
    </div>
</div>
