<div class="review {{ class }}" {{{ attributes }}}>
    <div class="review__divider">
        <div class="review__rating review__rating--average">
            <span class="review__rating-label">
                {{ rating.label }}
            </span>
            {{ render '@rating' rating.stars }}
        </div>
    </div>

    <h3 class="heading heading--fourth-level review__title">
        {{ title }}
    </h3>

    <div class="review__divider">
        {{{ content }}}
    </div>

    <div class="review__divider review__date">
        {{ date }}
    </div>
</div>
