<div class="promotion">
    {{ render '@banners--simple' }}

    <div class="promotion__container">
        <time class="promotion__date">
            {{ date }}
        </time>

        <h3 class="promotion__pretitle">
            {{ pretitle }}
        </h3>

        <h2 class="promotion__title">
            {{ title }}
        </h2>

        {{ render '@cms-2cols' }}
    </div>
</div>
