<div class="page-wrapper">
    {{ render '@header' }}

    <div class="container">
        <div class="forgot-password">
            {{ render '@heading' mainHeading }}
            <p>
                {{ info }}
            </p>
            <form>
                {{ render '@input' email }}
                {{ render '@input' captcha.field }}
                <div class="forgot-password__captcha-wrapper">
                    {{ render '@image' captcha.image }}
                    {{ render '@button' captcha.reload }}
                </div>
                {{ render '@button' captcha.submit }}
            </form>
        </div>
    </div>
</div>

{{ render '@footer' }}
