<div class="banner{{#if modifier}}
            banner--{{ modifier }}{{/if}}"
>
    <picture class="banner__image{{#if imageModifier}}
                    banner__image--{{ imageModifier }}{{/if}}"
    >
        <source data-srcset="{{ image480 }}"
                media="(max-width: 480px)"
        />
        <source data-srcset="{{ image768 }}"
                media="(max-width: 768px)"
        />
        {{#if image992}}
            <source data-srcset="{{ image992 }}"
                    media="(max-width: 992px)"
            />
        {{/if}}
        {{#if image1600}}
            <source data-srcset="{{ image1600 }}"
                    media="(min-width: 1599px)"
            />
        {{/if}}
        <source data-srcset="{{ image }}" />
        <img class="banner__img lazyload"
            alt="banner-image"
        />
    </picture>
    {{#if showContent}}
        <div class="banner__content{{#if contentModifier}}
                    banner__content--{{ contentModifier }}{{/if}}"
        >
            {{#if date}}
                <small class="banner__date">{{ date }}</small>
            {{/if}}
            {{#if pretitle}}
                <h3 class="banner__pretitle">{{ pretitle }}</h3>
            {{/if}}
            <h2 class="banner__title">{{ title }}</h2>
            <p class="banner__info">{{ info }}</p>
            <a href="{{ link }}"
               class="banner__button button button--{{ buttonVersion }}"
            >
                {{ linkAnchor }}
                <svg class="button__icon">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    {{/if}}
    {{#if bgLeftText }}
        <h2 class="banner__bg-left-text">
            {{ bgLeftText }}
        </h2>
    {{/if}}
</div>
