<div class="rating {{ class }}" {{{ attributes }}}>
    <div class="rating__star {{ star.class }}" {{{ star.attributes }}}>
        <span class="rating__indicator {{ indicator.class }}" {{{ indicator.attributes }}}></span>
    </div>
</div>
