<div class="rating rating--rate {{ class }}" {{{ attributes }}}>
    <div class="rating__rate-item {{ rateItem.class }}" {{{ rateItem.attributes }}}>
        <div class="rating__star rating__star--rate {{ star.class }}" {{{ star.attributes }}}>
            <span class="rating__indicator {{ indicator.class }}" {{{ indicator.attributes }}}></span>
        </div>
    </div>
    <div class="rating__rate-item {{ rateItem.class }}" {{{ rateItem.attributes }}}>
        <div class="rating__star rating__star--rate {{ star.class }}" {{{ star.attributes }}}>
            <span class="rating__indicator {{ indicator.class }}" {{{ indicator.attributes }}}></span>
        </div>
    </div>
    <div class="rating__rate-item {{ rateItem.class }}" {{{ rateItem.attributes }}}>
        <div class="rating__star rating__star--rate {{ star.class }}" {{{ star.attributes }}}>
            <span class="rating__indicator {{ indicator.class }}" {{{ indicator.attributes }}}></span>
        </div>
    </div>
    <div class="rating__rate-item {{ rateItem.class }}" {{{ rateItem.attributes }}}>
        <div class="rating__star rating__star--rate {{ star.class }}" {{{ star.attributes }}}>
            <span class="rating__indicator {{ indicator.class }}" {{{ indicator.attributes }}}></span>
        </div>
    </div>
    <div class="rating__rate-item {{ rateItem.class }}" {{{ rateItem.attributes }}}>
        <div class="rating__star rating__star--rate {{ star.class }}" {{{ star.attributes }}}>
            <span class="rating__indicator {{ indicator.class }}" {{{ indicator.attributes }}}></span>
        </div>
    </div>
</div>
