<div class="amount-counter {{ class }}">
    {{#if lastItem}}
        Items {{ firstItem }} to {{ lastItem }} of {{ totalItems }}
    {{else}}
        Item {{ firstItem }} of {{ totalItems }}
    {{/if}}
</div>
