<a class="logo {{ class }}" href="{{ href }}" aria-label="{{ ariaLabel}}">
    <img class="logo__image lazyload {{ imageClass }}"
         data-src="{{ imageSrc }}"
         alt="{{ imageAlt }}"
         {{{ imageAttributes }}}
    >
</a>
