<div class="minicart">
    <div class="minicart__wrapper">
        <h3 class="heading">
            <span class="text">
                {{ headingText }}
            </span>
        </h3>

    <div class="minicart__content">
        <button type="button"
                class="action close minicart__btn-close"
        >
            <svg class="minicart__btn-close-icon">
                <use xlink:href="{{ svg 'close' }}"></use>
            </svg>
        </button>
        <div class="items-total">
            <span class="count">
                {{ itemsTotal }}
            </span>
        </div>
        <div class="grid minicart__subtotal">
            <span class="label grid--two-cols">
                Cart Subtotal
            </span>
            <div class="grid--two-cols minicart__price">
                {{ totalPrice }}
            </div>
        </div>
        <div class="actions">
            <button type="button"
                    class="button button--fluid"
             >
               {{ cuttonCheckout }}
            </button>
        </div>
        <h4 class="subtitle">
           {{ subtitleText }}
        </h4>
        <div class="minicart-items-wrapper">
            <ul class="minicart-items list">
                {{#each products }}
                    <li class="product product--img-thumb list__item ">
                        <div class="grid">
                            <div class="product__img-box grid__column grid__column--1-3">
                                <img data-src="/images/product/product-img-70_46.png"
                                     alt="{{ productName }}"
                                     class="lazyload"
                                />
                            </div>
                            <h2 class="heading product__name grid__column grid__column--2-3">
                                {{ productName }}
                            </h2>
                        </div>
                        <div>
                            <h5 class="headoing">
                                Product's details
                            </h5>
                            <dl class="product__details-list grid">
                                {{#each options }}
                                    <dt class="product__details-list-item grid__column grid__column--1-2">
                                        {{ @key }}
                                    </dt>
                                    <dd class="product__details-list-item grid__column grid__column--1-2">
                                        {{ this }}
                                    </dd>
                                {{/each}}
                            </dl>
                            <div class="product__price">
                                {{ price }}
                            </div>
                            <div class="input input--inline-small-right">
                                <label for="cart" class="input__label">
                                    Qty
                                </label>
                                <input type="number" class="inout__field">
                            </div>
                            <div class="minicart__action">
                                <a href="{{cartEditUrl}}" class="button button--icon">
                                    <svg class="button__icon">
                                        <use xlink:href="{{ svg ../editIcon }}"></use>
                                    </svg>
                                </a>
                                <button class="button button--icon">
                                   <svg class="button__icon">
                                       <use xlink:href="{{ svg ../removeIcon }}"></use>
                                   </svg>
                               </button>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <a class="action viewcart button button--fluid" href="#">
            <span>
                {{ buttonView }}
            </span>
        </a>
    </div>
    </div>
</div>
