<ul class="active-filters list {{class}}">
    {{# each filters }}
        <li class="active-filters__item list__item {{class}}">
            <button type="button"
                    class="active-filters__remove {{class}}"
                    aria-label="{{ariaLabel}}"
            >
                {{ render '@icon' icon }}
            </button>
            <span class="active-filters__label">
                {{label}}&nbsp;:&nbsp;
            </span>
            <span class="active-filters__value">
                {{value}}
            </span>
        </li>
    {{/each}}
    <a href="{{clearHref}}"
       class="active-filters__clear-all {{clearClass}}"
    >
        {{clearText}}
    </a>
</ul>
