<div class="filters">
    <ul class="filters__list">
        {{#each filters as |filter|}}
            <li class="filters__item{{#if filterList}} filters__item--parent{{/if}}">
                <a href="{{ filterLink }}"
                   class="filters__link"
                   {{#if filterId }}data-filter="{{ filterId }}"{{/if}}
                >
                    {{ filterTitle }}
                    {{#if filterList }}
                        <svg title="icon-arrow-down" class="filters__icon">
                            <use xlink:href="/images/icon-sprite.svg#icon-arrow-down"></use>
                        </svg>
                    {{/if}}
                </a>
                {{#if filterList }}
                    <ul class="filters__inner-list filters__inner-list--level1" {{#if filterId }}data-filter="{{ filterId }}"{{/if}}>
                        {{#each filterList }}
                            <li class="filters__inner-item filters__inner-item--level1{{#if sublist}} filters__inner-item--parent{{/if}}">
                                <a href="{{ itemLink }}" class="filters__inner-link" {{#if filterId }}data-filter="{{ filterId }}"{{/if}}>
                                    {{ itemName }}
                                    {{#if sublist }}
                                        <svg title="icon-plus" class="filters__icon filters__icon--inner">
                                            <use xlink:href="/images/icon-sprite.svg#icon-plus"></use>
                                        </svg>
                                    {{/if}}
                                </a>
                                {{#if sublist}}
                                    <ul class="filters__inner-list filters__inner-list--level2" {{#if filterId }}data-filter="{{ filterId }}"{{/if}}>
                                        {{#each sublist}}
                                        <li class="filters__inner-item filters__inner-item--level2">
                                            <a href="{{ itemLink }}" class="filters__inner-link">
                                                {{ itemName }}
                                            </a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
<script src="{{#jsPath 'filters' }}{{/jsPath}}"></script>
