<div class="filters {{ class }}" {{ attributes }}>
    <h2 class="filters__heading">
        Active filters
    </h2>
    <div class="filters__divider">
        {{> '@divider' divider}}
    </div>

    <div class="filters__active">
        {{> '@active-filters' activeFilters}}
    </div>

    <h2 class="filters__heading">
        All filters
    </h2>

    <div class="filters__divider">
        {{> '@divider' }}
    </div>

    <div class="dropdown-list {{ class }}" {{{ attributes }}}>
        <ul class="dropdown-list__list">
            {{> '@filter--checkbox' checkbox }}
            {{> '@filter' swatch }}
            {{> '@filter' color }}
            {{> '@filter--range' range }}
        </ul>
    </div>

</div>
<script src="{{static '../filters/filters.js'}}"></script>
<script src="{{static '../dropdown-list/dropdown-list.js' }}"></script>
