<{{{ tag }}} class="filters {{ class }}" {{ attributes }}>
    <div class="filters__container">
        <div class="filters__lists">
            {{> '@range' range }}
        </div>

    </div>
</{{{ tag }}}>
<script src="{{static '../filters/filters.js'}}"></script>
