<div class="page-wrapper">
    {{ render '@header' }}

    <div class="container">
        <div class="quickorder">
            {{ render '@heading' mainHeading }}
            <form>
                <ul class="list">
                    {{#each products }}
                        <li class="list__item quickorder__list-item">
                            {{ render '@input' this.name }}
                            <div class="quickorder__product">
                                {{ render '@image' this.image }}
                                <div class="quickorder__product-details">
                                    {{ render '@link' this.link }}
                                    {{ render '@price' }}
                                </div>
                            </div>
                            {{ render '@input' this.qty }}
                            {{ render '@button' this.remove }}
                        </li>
                    {{/each }}
                </ul>
            </form>
        </div>
    </div>
</div>

{{ render '@footer' }}
