<div class="file-upload {{ class }}">
    <label class="file-upload__label" for="{{ name }}">
        {{ labelText }}
    </label>

    <div class="file-upload__handler">
        <input id="{{ input.id }}"
               class="file-upload__field"
               title="title"
               type="{{ input.type }}"
               name="{{ input.name }}"
               accept="{{ input.formats }}"
               data-size="{{ input.size }}"
        />

        {{ render '@button' button }}

        <span class="file-upload__name">
            {{ fileName }}
        </span>
    </div>
</div>

<script src="{{ static 'file-upload.js' }}"></script>
