{{ render '@marketing-bar' }}
<header class="header" id="dupa1">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__menu-trigger">
                <button class="header-button--side-menu header-button header-button--reset-margin"
                        type="button"
                >
                    <svg class="header-button__icon header-button__icon--small">
                        <use xlink:href="{{ svg 'mobile-menu' }}"
                             class="
                                header-button__icon-svg
                                header-button__icon-svg--open
                             "
                        ></use>
                        <use xlink:href="{{ svg 'close' }}"
                             class="
                                header-button__icon-svg
                                header-button__icon-svg--close
                             "
                        ></use>
                    </svg>
                    <span class="header-button__text">
                        Menu
                    </span>
                </button>
            </div>
            <div class="header__buttons">
                {{#each buttons as |item| }}
                    <a class="header-button {{ item.class }}"
                       href="#"
                       aria-label="{{ item.ariaLabel }}"
                    >
                        <svg class="header-button__icon">
                            <use xlink:href="{{ svg item.icon }}"></use>
                        </svg>
                        <span class="header-button__text">
                            {{ item.text }}
                        </span>
                    </a>
                {{/each}}
                <div class="header__minicart">
                    <a class="header-button popup-trigger"
                       href="{{ minicartTrigger.link }}"
                       aria-label="{{ minicartTrigger.ariaLabel }}"
                       data-popuptrigger="popup-1"
                    >
                        <svg class="header-button__icon">
                            <use xlink:href="{{ svg minicartTrigger.icon }}"></use>
                        </svg>
                        <span class="header-button__text">
                            {{ minicartTrigger.text }}
                        </span>
                        <span class="header-button__counter">
                            <span class="header-button__counter-dot"></span>
                        </span>
                    </a>
                    {{ render '@popup' minicartPopup }}
                </div>
            </div>
            {{ render '@logo' logo }}
            <div class="header__search-wrapper">
                <form class="search-form">
                    {{ render '@input' searchInput }}
                    {{ render '@button--icon' searchButton }}
                </form>
            </div>
        </div>
    </div>
    {{ render '@side-menu' }}
</header>
{{ render '@mega-menu' }}

<script src="{{static 'header.js'}}" defer></script>
