<header class="header container">
    {{ render '@logo' }}

    <div class="header__right-panel">
        <div class="header__minicart">
            {{ render '@minicart-trigger' trigger }}

            {{ render '@popup' minicartPopup }}
        </div>

        {{ render '@side-menu-trigger' }}
    </div>

    {{ render '@side-menu' }}
</header>

{{ render '@dropdown-menu' }}
