<header class="header">
    {{ render '@marketing-bar' }}
    <div class="container">
        <div class="header__wrapper">
            {{ render '@logo' logo }}
            <div class="header__icons">
                <a class="header__icons-item" href="#">
                    <svg class="header__icon">
                        <use xlink:href="{{ svg 'phone' }}"></use>
                    </svg>
                </a>
                <a class="header__icons-item" href="#">
                    <svg class="header__icon">
                        <use xlink:href="{{ svg 'account' }}"></use>
                    </svg>
                </a>
                <div class="header__minicart">
                    {{ render '@minicart-trigger' trigger }}
                    {{ render '@popup' minicartPopup }}
                </div>
            </div>
            <div class="header__menu-trigger">
                {{ render '@side-menu-trigger--span-way' }}
            </div>
            <div class="header__search-wrapper">
                <form class="header__search">
                    {{ render '@input' searchInput }}
                    {{ render '@button--icon' searchButton }}
                </form>
            </div>
        </div>
    </div>
</header>
