<div class="cookie-message {{ class }}" {{{ attributes }}}>
    <div class="cookie-message__container">
        <p class="cookie-message__cookie-message">
            <span class="cookie-message__text">
                {{ text }}
            </span>
            {{#if link}}
                <a href="#" class="cookie-message__link">
                    {{ linkAnchor }}
                </a>
            {{/if}}
        </p>

        <button class="cookie-message__close" type="button">
            {{#if closeLabel}}
                {{ closeLabel }}
            {{/if}}
            {{#if closeIcon}}
                <svg class="cookie-message__close--icon">
                    <use xlink:href="{{ svg closeIcon }}"></use>
                </svg>
            {{/if}}
        </button>
    </div>
</div>
<script src="{{static 'cookie-message.js' }}"></script>
