<li class="
        product
        {{#if modifier}}
            product--{{modifier}}
        {{/if}}
        {{#if additionalClass}}
            {{additionalClass}}
        {{/if}}
    "
>
    <a href="{{ link }}" class="product__link">
        <div class="product__img-box">
            <img src="{{ imagesrc }}"
                 alt="{{ alttext }}"
                 class="product__img"
            />
        </div>

        <h2 class="product__name">
            {{ name }}
        </h2>

        <div class="product__price">
            {{ price }}
        </div>

        <div class="product__type">
            typ {{ type }}
        </div>

        {{#if buttonAddToCart}}
            {{ render '@button--dark' button}}
        {{/if}}
    </a>

    {{#if newflag}}
        {{ render '@badge' }}
    {{/if}}
</li>
