<div class="select {{ class }}" {{{ attribute }}}>
    <label class="label {{ label.class }}"
           for="{{ field.id }}"
           {{{ label.attribute }}}
    >
        {{ label.text }}
    </label>
    <select id="{{ field.id }}" class="select__field" name="{{ field.name }}">
        {{#each options}}
            <option value="{{ value }}" {{ attributes }}>
                {{text}}
            </option>
        {{/each}}
    </select>
</div>

<script src="{{ static 'select.js' }}"></script>
