<div class="info-box{{#if modifier}}
            info-box--{{ modifier }}
            {{/if}}{{#if additionalClass}} {{ additionalClass }}{{/if}}"
>
    <small class="info-box__date">
        {{ date }}
    </small>
    <h3 class="info-box__title">
        {{ title }}
    </h3>
    {{#if address}}
        <address class="info-box__address">
            {{ address }}
        </address>
    {{/if}}
    <p class="info-box__main">
        {{ mainText }}
    </p>
    <a href="{{ link }}"
       class="info-box__button button button--{{ buttonVersion }}"
    >
        {{ linkText }}
        <svg class="button__icon">
            <use xlink:href="#icon-arrow-right"></use>
        </svg>
    </a>
</div>
