<{{{ tag }}} class="catalog-grid-item {{ class }}">
    {{#if badge}}
        {{ render (component badge.name) badge.context }}
    {{/if}}

    <a href="#" class="catalog-grid-item__link">
        <div class="catalog-grid-item__image-wrapper">
            {{ render '@image' image }}
        </div>
    </a>

    <section class="catalog-grid-item__main">
        <h2 class="catalog-grid-item__name">
            <a href="#" class="catalog-grid-item__link">
                {{ name }}
            </a>
        </h2>
        <div class="catalog-grid-item__price">
            {{ render (component price.name) price.context }}
        </div>
    </section>

    <section class="catalog-grid-item__details">
        <div
            class="
                catalog-grid-item__name
                catalog-grid-item__name--one-line
            "
        >
            <a href="#" class="catalog-grid-item__link">
                {{ name }}
            </a>
        </div>
        {{ render '@rating' rating merge=true }}
        <div class="catalog-grid-item__price">
            {{ render (component price.name) price.context }}
        </div>

        <div class="catalog-grid-item__options">
            {{#each swatches as |swatch|}}
                {{ render (component swatch.name) swatch.context }}
            {{/each}}
        </div>

        <div class="catalog-grid-item__actions">
            <form action="#" class="catalog-grid-item__primary-form">
                {{ render '@button' primaryAction }}
            </form>

            <div class="catalog-grid-item__secondary-action">
                {{ render '@button--icon' secondaryActions.wishlist }}
                {{ render '@button--icon' secondaryActions.compare }}
            </div>
        </div>
    </section>
</{{{ tag }}}>
