<div class="dropdown-list">
    <ul class="dropdown-list__list">
        {{#each dropdowns as |dropdown|}}
            <li class="
                    dropdown-list__item
                    {{#if list}}
                        dropdown-list__item--parent
                    {{/if}}
                "
            >
                <a href="{{ link }}"
                   class="dropdown-list__link"
                   {{#if id }}
                        data-dropdown="{{ id }}"
                   {{/if}}
                >

                    {{ title }}

                    {{#if list }}
                        <svg class="dropdown-list__icon">
                            <use xlink:href="{{ svg 'arrow-down' }}"></use>
                        </svg>
                    {{/if}}
                </a>

                {{#if list }}
                    <ul class="
                            dropdown-list__inner-list
                            dropdown-list__inner-list--level1
                        "
                        {{#if id }}
                            data-dropdown="{{ id }}"
                        {{/if}}
                    >
                        {{#each list }}
                            <li class="
                                    dropdown-list__inner-item
                                    dropdown-list__inner-item--level1
                                    {{#if sublist}}
                                        dropdown-list__inner-item--parent
                                    {{/if}}
                                "
                            >
                                <a href="{{ link }}"
                                   class="dropdown-list__inner-link"
                                   {{#if id }}
                                        data-dropdown="{{ id }}"
                                   {{/if}}
                                >

                                    {{ itemName }}

                                    {{#if sublist }}
                                        <svg class="dropdown-list__icon dropdown-list__icon--inner">
                                            <use xlink:href="{{ svg 'plus' }}"></use>
                                        </svg>
                                    {{/if}}
                                </a>

                                {{#if sublist}}
                                    <ul class="dropdown-list__inner-list
                                               dropdown-list__inner-list--level2
                                        "
                                        {{#if id }}
                                            data-dropdown="{{ id }}"
                                        {{/if}}
                                    >
                                        {{#each sublist}}
                                            <li class="dropdown-list__inner-item
                                                       dropdown-list__inner-item--level2
                                                "
                                            >
                                                <a href="{{ itemLink }}"
                                                   class="dropdown-list__inner-link"
                                                >
                                                    {{ itemName }}
                                                </a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
<script src="{{static 'dropdown-list.js' }}"></script>
