<div class="dropdown-list {{ class }}" >
    <ul class="dropdown-list__list">
        {{#each dropdowns as |dropdown|}}
            <li class="
                    dropdown-list__item
                    {{#if listNested }}
                        dropdown-list__item--parent
                    {{/if}}
                "
            >
                <a {{{ itemAttributes }}}
                   class="dropdown-list__label {{ class }}"
                   aria-label="{{ title }}"
                   {{#if id }}
                        data-dropdown="{{ id }}"
                        aria-controls="{{ id }}"
                   {{/if}}
                >
                    {{ title }}
                    {{#if collapse }}
                        {{ render '@icon' collapse }}
                    {{/if}}
                </a>

                {{#if listNested }}
                    <ul class="
                            dropdown-list__inner-list
                            dropdown-list__inner-list--level1
                        "
                        {{#if id }}
                            id="{{ id }}"
                            data-dropdown="{{ id }}"
                            aria-hidden="true"
                        {{/if}}
                    >
                        {{#each listNested }}
                            <li class="
                                    dropdown-list__inner-item
                                    dropdown-list__inner-item--level1
                                    {{#if sublist}}
                                        dropdown-list__inner-item--parent
                                    {{/if}}
                                "
                            >
                                <a {{{ itemAttributes }}}
                                   class="dropdown-list__inner-label {{ class }}"
                                   aria-label="{{ itemName }}"
                                   {{#if id }}
                                        data-dropdown="{{ id }}"
                                   {{/if}}
                                >

                                    {{ itemName }}

                                    {{#if collapse }}
                                        {{ render '@icon' collapse }}
                                    {{/if}}
                                </a>

                                {{#if sublist}}
                                    <ul class="dropdown-list__inner-list
                                               dropdown-list__inner-list--level2
                                        "
                                        {{#if id }}
                                            id="{{ id }}"
                                            data-dropdown="{{ id }}"
                                            aria-hidden="true"
                                        {{/if}}
                                    >
                                        {{#each sublist}}
                                            <li class="dropdown-list__inner-item
                                                       dropdown-list__inner-item--level2
                                                "
                                            >
                                                <a {{ itemAttributes }}
                                                   class="dropdown-list__inner-label"
                                                >
                                                    {{ itemName }}
                                                </a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
<script src="{{static 'dropdown-list-nested.js' }}"></script>
