{{ render '@header' }}

<main class="container">
    {{ render '@breadcrumbs' }}

    <div class="catalog-list">
        {{ render '@catalog-list-item' product }}
        {{ render '@catalog-list-item' product }}
        {{ render '@catalog-list-item' product }}
    </div>
    {{ render '@pager' }}
</main>

{{ render '@footer' }}
