{{ render '@header' }}
<main class="container">
    {{ render '@breadcrumbs' }}
    <div class="catalog-list">
        <div class="catalog-list__sidebar">
            {{ render '@filters' }}
        </div>
        <div class="catalog-list__products">
            {{ render '@catalog-list-item' product }}
            {{ render '@catalog-list-item' product }}
            {{ render '@catalog-list-item' product }}
            {{ render '@catalog-list-item' product }}
            {{ render '@catalog-list-item' product }}
            {{ render '@catalog-list-item' product }}
            {{ render '@catalog-list-item' product }}
            {{ render '@catalog-list-item' product }}
            {{ render '@catalog-list-item' product }}
            {{ render '@catalog-list-item' product }}
            {{ render '@pager' }}
        </div>
    </div>
</main>
{{ render '@footer' }}
