<{{{ tag }}} class="product {{ class }}">
    <a href="#" class="product__link">
        <div class="product__img-box">
            {{ render '@image' image }}
        </div>

        <h2 class="product__name">
            {{ name }}
        </h2>

        <div class="product__price">
            {{ price }}
        </div>

        <div class="product__type">
            {{{ type }}}
        </div>

        {{#if button }}
            {{ render '@button' button }}
        {{/if}}
    </a>

    {{#if badge}}
        {{ render '@badge' badge }}
    {{/if}}
</{{{ tag }}}>
