<div class="search-block visible">
    <form action="#" class="search-block__form" method="get">
        <div class="search">
            <label for="search" class="search__label">
                <svg title="icon-search" class="search__icon">
                    <use xlink:href="#icon-search"></use>
                </svg>
            </label>
            <input id="search"
                   type="search"
                   name="search"
                   value=""
                   placeholder="{{ placeholder }}"
                   maxlength=""
                   autocomplete="off"
                   required="required"
                   class="search__input"
            >
            <button type="submit"
                    title="Search"
                    class="button search__button"
            >
                {{ buttonText }}
            </button>
        </div>
    </form>
    {{#if autocomplete}}
        <div class="solr-search visible">
            <div class="solr-search__close">
                <svg title="icon-close" class="solr-search__icon-close">
                    <use xlink:href="#icon-x"></use>
                </svg>
            </div>

            <div class="solr-search__header">
                <h3 class="solr-search__headertitle">
                    Results for:
                    <span class="solr-search__headertitle-value"> {{ autocomplete.headertitleValue }}</span>
                </h3>
            </div>
            <div class="solr-search__content">
                <div class="solr-search__products">
                    <div class="solr-search__sub-title">
                        {{ autocomplete.productstitle }}
                        <span class="solr-search__qty-result">{{ autocomplete.productqty }}</span>
                    </div>
                    {{render '@products-list'}}
                </div>
                <div class="solr-search__category">
                    <div class="solr-search__sub-title">
                        {{ autocomplete.categoriestitle }}
                        <span class="solr-search__qty-result">{{ autocomplete.categoriesqty }}</span>
                    </div>
                    <div class="solr-search__category-list">
                        {{ render '@list--search-categories' }}
                    </div>
                </div>
                <div class="solr-search__footer">
                   {{ render '@button' autocomplete.button }}
                </div>
            </div>
        </div>
    {{/if}}
</div>
<script src="{{#jsPath 'search' }}{{/jsPath}}"></script>
