<div class="minicart-content {{ class }}" {{{ attributes }}}>
    {{ render '@minicart-product' }}
    {{ render '@minicart-product' }}
    <div class="minicart-content__total">
        <div class="minicart-content__cart">
            {{ total }}
        </div>

        <div class="minicart-content__summary">
            {{ price }}
        </div>
    </div>

    {{> '@button' checkout }}

    {{> '@button--secondary' editCart }}
</div>
