<div class="minicart-content {{ class }}" {{{ attributes }}}>
    <div class="minicart-content__bar"></div>
    <div class="minicart-content__total">
        <div class="minicart-content__total-counter">
            {{ counter}}
        </div>
        <div class="minicart-content__summary">
            <div class="minicart-content__summary-label">
                {{ total }}
            </div>
            <div class="minicart-content__summary-value">
                {{ price }}
            </div>
        </div>
    </div>
    <div class="minicart-content__actions">
        {{ render '@button--secondary' checkoutButton }}
    </div>
    <div class="minicart-content__products-list">
        {{#each products}}
            {{ render '@minicart-product' this merge=true }}
        {{/each}}
    </div>
    <div class="minicart-content__actions">
        <a href="{{ editButton.link }}" class="link link--invert minicart-content__edit">
            {{ editButton.label }}
        </a>
    </div>
</div>
