<div class="minicart-content {{ class }}" {{{ attributes }}}>
    <div class="minicart-content__bar">

    </div>
    <div class="minicart-content__total">
        <div class="minicart-content__cart">
            {{ total }}
        </div>
        <div class="minicart-content__summary">
            {{ price }}
        </div>
    </div>
    {{ render '@button--secondary' checkout }}
    {{ render '@minicart-product' }}
    {{ render '@minicart-product' }}
    {{> '@button' editCart }}
</div>
