<div class="grid cart" style="padding: 10px;">
    <div class="grid__column grid__column--4-4">
        {{render '@heading' mainHeading}}
    </div>
    <div class="grid__column grid__column--4-6">
        <div class="grid__content">
            <form class="cart__products-list">
                {{#each productlist as |item| }}
                    {{ render '@listitem' item }}
                {{/each}}
                <div class="cart__update">
                    {{ render '@button' buttonUpdateCart }}
                </div>
            </form>
            {{ render '@form' discountForm }}
        </div>
    </div>
    <div class="grid__column grid__column--2-6">
        <div class="cart-summary">
            <div class="cart-summary__item">
                <h2>Summary</h2>
            </div>
            <div class="grid__column grid__column--4-4">
                {{ render '@select' }}
            </div>
            <div class="cart-summary__item">
                {{ render '@select' }}
            </div>
            <div class="cart-summary__item">
                {{ render '@input' }}
            </div>
            <div class="cart-summary__item">
                {{ render '@input' }}
            </div>
            <div class="cart-summary__item cart-summary__shipping-methods">
                {{ render '@radio' }}
            </div>
            <div class="cart-summary__item">
                {{ render '@button--fluid' buttonCheckout }}
            </div>
        </div>
    </div>
</div>
