<div class="grid cart" style="padding: 20px;">
    <div class="grid__column grid__column--4-4">
        {{render '@heading' mainHeading}}
    </div>
    <div class="grid__column grid__column--4-6 cart__main-col">
        <div class="grid__content">
            <form class="cart__products-list">
                {{#each productlist as |item| }}
                    {{ render '@listitem' item }}
                {{/each}}
                <div class="cart__update">
                    {{ render '@button' buttonUpdateCart }}
                </div>
            </form>
            {{ render '@form' discountForm }}
        </div>
    </div>
    <div class="grid__column grid__column--2-6 cart__summary-col">
        <div class="cart-summary">
            <div class="cart-summary__item">
                <h2>Summary</h2>
            </div>
            <div class="grid__column grid__column--4-4">
                {{ render '@select' }}
            </div>
            <div class="cart-summary__item">
                {{ render '@select' }}
            </div>
            <div class="cart-summary__item">
                {{ render '@input' }}
            </div>
            <div class="cart-summary__item">
                {{ render '@input' }}
            </div>
            <div class="cart-summary__item cart-summary__shipping-methods">
                {{#each shippingMethods as |shippingMethod| }}
                    <div class="cart-summary__shipping-methods-heading">
                        Flat Rate
                    </div>
                    {{ render '@radio' shippingMethod }}
                {{/each}}
            </div>
            <div class="cart-summary__item cart-totals">
                <div class="cart-totals__row">
                    <div class="cart-totals__row-label">
                        Subtotal
                    </div>
                    <div class="cart-totals__row-value">
                        $34.00
                    </div>
                </div>
                <div class="cart-totals__row">
                    <div class="cart-totals__row-label">
                        Tax
                    </div>
                    <div class="cart-totals__row-value">
                        $00.00
                    </div>
                </div>
                <div class="cart-totals__row">
                    <div class="cart-totals__row-label">
                        Next long row here
                    </div>
                    <div class="cart-totals__row-value">
                        $00.00
                    </div>
                </div>
                <div class="cart-totals__row cart-totals__row--summary">
                    <div class="
                            cart-totals__row-label
                            cart-totals__row-label--total
                        "
                    >
                        Order Total
                    </div>
                    <div class="
                        cart-totals__row-value
                        cart-totals__row-value--total
                        "
                    >
                        $34.00
                    </div>
                </div>
            </div>
            <div class="cart-summary__item">
                {{ render '@button--fluid' buttonCheckout }}
            </div>
            <div class="cart-summary__item">
                <a class="cart-summary__multiple-addresses" href="#">
                    Check Out with Multiple Addresses
                </a>
            </div>
        </div>
    </div>
</div>
