<div class="grid">
    <div class="grid__column grid__column--3-4">
        <div class="grid__content">
            <div class="products-list">
                {{#each productlist as |item| }}
                    <div class="products-list__row">
                        <div class="products-list__image">
                            {{ render '@image' image }}
                        </div>
                        <div class="products-list__details">
                            <div class="grid products-list__grid">
                                <div class="grid__column grid__column--3-4 products-list__grid-item">
                                    <div class="products-list__data">
                                        <div class="products-list__details-name">
                                            {{ name }}
                                        </div>
                                        <div class="products-list__details-price">
                                            {{ price }}
                                        </div>
                                        {{ render '@list--description' item.attributes }}
                                    </div>
                                </div>
                                <div class="
                                        grid__column grid__column--1-4
                                        products-list__grid-item
                                     "
                                >
                                    <div class="input products-list__details-qty">
                                        {{ render '@input' }}
                                    </div>
                                    <div class="products-list__details-subtotal">
                                        123.32 zł
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="grid__column grid__column--1-4">
        <div class="grid__content" style="background: #f1f1f1; height: 400px;">
        </div>
    </div>
</div>
