{{#if trigger }}
    {{ render '@modal-trigger' modalTrigger }}
{{/if}}
<div role="dialog"
     aria-hidden="true"
     id="{{ modal.id }}"
     data-modal="{{ modal.id }}"
     class="modal {{ modal.class }}"
     tabindex="-1"
     {{{ modal.attributes }}}
 >
    <div role="document"
         class="modal__content {{ modalContent.class }}"
         {{{ modalContent.attribtues }}}
         tabindex="0"
     >
        <div class="modal__header">
            {{{ header.html }}}
            {{#if header.content }}
                {{ render (component header.content) header.contentContext }}
            {{/if}}
            {{#if buttonClose }}
                {{ render '@button--icon' buttonClose }}
            {{/if}}
        </div>
        <div class="modal__main">
            {{{ main.html }}}
            {{#if main.content }}
                {{ render (component main.content) main.contentContext }}
            {{/if}}
        </div>
        <div class="modal__footer">
            {{{ footer.html }}}
            {{#if footer.content }}
                {{ render (component footer.content) footer.contentContext }}
            {{/if}}
        </div>
    </dialog>
</div>
{{#if script }}
    <script src="{{static 'modal.js' }}"></script>
{{/if}}
