{{#if trigger }}
    {{ render '@modal-trigger' }}
{{/if}}
<div class="modal {{ modalClass }}" data-modal="{{ modalId }}">
    <dialog class="modal__content {{ dialogClass }}" {{{ dialogAttribtues }}}>
        {{ render (component content) contentContext }}
        {{#if buttonClose }}
            {{ render '@button--icon' buttonClose }}
        {{/if}}
    </dialog>
</div>
{{#if script }}
<script src="{{static 'modal.js' }}"></script>
{{/if}}
