<div class="slider">
    <div class="slider__items">
        {{#each sliderItems}}
            <div class="slider__item slide">
                <picture class="slide__image">
                    <source data-srcset="{{ image480 }}"
                            media="(max-width: 480px)"
                    />
                    <source data-srcset="{{ image768 }}"
                            media="(max-width: 768px)"
                    />
                    <source data-srcset="{{ image992 }}"
                            media="(max-width: 992px)"
                    />
                    <source data-srcset="{{ image1500 }}"
                            media="(max-width: 1500px)"
                    />
                    <source data-srcset="{{ image }}" />
                    <img class="slide__img lazyload"
                         alt="{{ title }}"
                    />
                </picture>
                <div class="slide__content">
                    <h2 class="slide__title">
                        {{ slideTitle }}
                    </h2>
                    <p class="slide__text">
                        {{ slideShortText }}
                    </p>
                    <a href="{{ link }}" class="button">
                        {{ linkText }}
                        <svg class="button__icon">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script src="{{#jsPath 'slider' }}{{/jsPath}}"></script>
