<a class="action showcart minicart-link"
   href="#"
>
    <svg class="minicart-link__icon">
        <use xlink:href="/images/icons-sprite.svg#shopping-cart"></use>
    </svg>
    <span class="counter qty empty minicart-link__counter">
        <span class="counter-number minicart-link__counter-qty">{{ counterQty }}</span>
        <span class="counter-label minicart-link__counter-label">
            {{ counterLabel }}
        </span>
    </span>
</a>
<div class="block block-minicart minicart empty"
     data-role="dropdownDialog">
    <div id="minicart-content-wrapper"
         class="minicart__wrapper"
    >
        <h3 class="heading">
            <span class="text">{{ headingText }}</span>
        </h3>

    <div class="block-content minicart__content">
        <button type="button"
                id="btn-minicart-close"
                class="action close minicart__btn-close"
        >
            <svg class="minicart__btn-close-icon">
                <use xlink:href="/images/icons-sprite.svg#close"></use>
            </svg>
        </button>
        <div class="items-total">
            <span class="count">{{itemsTotal}}</span>
        </div>
        <div class="actions">
            <button id="top-cart-btn-checkout"
                    type="button"
                    class="button button--wide"
             >
               {{ cuttonCheckout }}
            </button>
        </div>
        <h4 class="subtitle">
           {{ subtitleText }}
        </h4>
        <div data-action="scroll" class="minicart-items-wrapper">
            <ul id="mini-cart"
                class="minicart-items list"
            >
                <li class="product product--img-thumb list__item ">
                    <div class="grid">
                        <div class="product__img-box grid__column grid__column--1-3">
                            <img data-src="/images/product/product-img-70_46.png" alt="{{ productName }}" lazyload/>
                        </div>
                        <h2 class="heading product__name grid__column grid__column--2-3">
                            {{ productName }}
                        </h2>
                    </div>
                    <div>
                        <div class="product__price">
                            {{ price }}
                        </div>
                        <div class="input input--small">
                            <label for="cart" class="input__label">Qty</label>
                            <input type="number" class="inout__field">
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <a class="action viewcart button button--wide" href="#">
            <span> {{ buttonView }} </span>
        </a>
    </div>
    </div>
</div>
