<div class="pager {{ class }}">
    <ul class="pager__list">
        <li class="pager__item">
            <a href="#"
               class="pager__link pager__link--prev"
               aria-label="{{ ariaLabelLeft }}"
               {{#unless arrowLeftActive}}disabled{{/unless}}
            >
                <svg class="pager__icon">
                    <use xlink:href="{{ svg 'arrow-left' }}"></use>
                </svg>
            </a>
        </li>

        {{#each pages as |page|}}
            {{#if this.active}}
                <li class="pager__item pager__item--current">
                    {{ pageNo }}
                </li>
            {{else}}
                <li class="pager__item">
                    <a href="#"
                       class="pager__link {{ class }}"
                       aria-label="{{ ariaLabel }}"
                    >
                        {{ pageNo }}
                    </a>
                </li>
            {{/if}}
        {{/each}}

        <li class="pager__item">
            <a href="#"
               class="pager__link pager__link--next"
               aria-label="{{ ariaLabelRight }}"
               {{#unless arrowRightActive}}disabled{{/unless}}
            >
                <svg class="pager__icon">
                    <use xlink:href="{{ svg 'arrow-right' }}"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
