<ul class="pager {{ class }}" {{{ attribute }}}>
    {{#if controls}}
        <li class="pager__item">
            <a href="#" class="pager__link link">
                <svg title="previous item" class="pager__nav-icon prev">
                    <use xlink:href="{{ svg iconPrevId }}"></use>
                </svg>
            </a>
        </li>
    {{/if}}
    {{#each pages as |page|}}
        {{#if this.active}}
            <li class="pager__item pager__item--current">
                {{ pageNo }}
            </li>
        {{else}}
            <li class="pager__item">
                <a href="#" class="pager__link link">
                    {{ pageNo }}
                </a>
            </li>
        {{/if}}
    {{/each}}
    {{#if controls}}
        <li class="pager__item">
            <a href="#" class="pager__link link">
                <svg title="previous item" class="pager__nav-icon next">
                    <use xlink:href="{{ svg iconNextId }}"></use>
                </svg>
            </a>
        </li>
    {{/if}}
</ul>
