<div class="additional-content {{ class }}">
    {{ render '@image--picture' image }}
    <div class="additional-content__info {{ contentInfo.class }}">
        <div class="additional-content__section {{ firstSection.class }}">
            {{{ firstSection.html }}}
        </div>
        <div class="additional-content__section {{ secondSection.class }}">
            {{{ secondSection.html }}}
        </div>
    </div>
</div>
