<div class="wrapper-collapsible {{ class }}">
    <div class="wrapper-collapsible__trigger wrapper-collapsible__trigger--{{ icon }}"
         data-mage-init='{"linksWrapper": {}}'
    >
        <svg class="wrapper-collapsible__trigger-icon ">
            <use xlink:href="/images/icons-sprite.svg#{{icon}}"></use>
        </svg>
    </div>
    <div class="wrapper-collapsible__container">
        {{ content }}
    </div>
</div>
<script src="{{static 'wrapper-collapsible.js'}}" defer></script>
