<div class="wrapper-collapsible {{ class }}">
    <button class="wrapper-collapsible__trigger wrapper-collapsible__trigger--{{ icon }}"
            aria-label="{{ someLable }}"
    >
        <svg class="wrapper-collapsible__trigger-icon ">
            <use xlink:href="/images/icons-sprite.svg#{{icon}}"></use>
        </svg>
    </button>
    <div class="wrapper-collapsible__container">
        {{ content }}
    </div>
</div>
<script src="{{static 'wrapper-collapsible.js'}}" defer></script>
