<div class="dashboard-items {{ class }}">
    {{#if title }}
        <h3
            class="dashboard-items__title {{ titleClass }}">
            {{ title }}
        </h3>
    {{/if}}

    <div class="grid dashboard-items__content {{ contentClass }}">
        {{#each informations }}
            <div class="dashboard-items__item {{ this.class }}">
                {{#if this.title }}
                    <h5 class="heading heading--sixth-level">
                        {{ this.title }}
                    </h5>
                {{/if}}

                <div class="dashboard-items__address">
                    {{ information }}
                </div>

                {{#if actions }}
                    {{> '@action' actions }}
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>
