<{{{ listTag }}} class="list {{ class }}">
    {{# each elements }}
        <{{{ ../elementTag }}} class="list__item {{ this.class }}">
            <a href="{{ iconItemLink }}" class="list__icon-link {{this.linkClass}} {{{ linkAttributes }}}">
                <svg class="list__icon {{ this.iconClass }}">
                    <use xlink:href="{{ svg icon }}"></use>
                </svg>
            </a>
        </{{{ ../elementTag }}}>
    {{/ each }}
</{{{ listTag }}}>
