<div class="toolbar {{ class }}" {{{ attributes }}}>
    <div class="toolbar__mode">
        <button type="button" class="toolbar__mode-button">
           {{ render '@icon' grid.icon }}
        </button>
        <button type="button" class="toolbar__mode-button">
           {{ render '@icon' list.icon }}
        </button>
    </div>
    <div class="toolbar__sorter">
        {{render '@select' sortBy }}
    </div>
    <div class="toolbar__amount">
        <span class="toolbar__amount-content">
            {{ amount.prefix }} {{ amount.currentRange }} {{ amount.preposition }}
            {{ amount.total }}
        </span>
    </div>
    <div class="toolbar__limiter">
        {{> '@select' limiter.select }}
        <span class="toolbar__limiter-suffix">
            {{ limiter.suffix }}
        </span>
    </div>
</div>

