<table class="table {{ class }}" {{{ additionalAttributes }}}>
    {{#each mainTags }}
        <{{{ mainTag }}}>
            {{#each rowTags}}
                <{{{ rowTag }}} {{ rowTagAttributes }}>
                    {{#each childTags}}
                        <{{{ childTag }}}
                             class="{{ childTagClasses }}"
                             {{{ childTagAttributes }}}
                        >
                            {{ content }}
                        </{{{ childTag }}}>
                    {{/each}}
                </{{{ rowTag }}}>
            {{/each}}
        </{{{ mainTag }}}>
    {{/each}}
</table>
