<div class="breadcrumbs {{ class }}" {{{ attributes }}}>
    {{#each categories}}
        {{#if @last}}
            <span class="breadcrumbs__item"
                  aria-label="{{ariaLabel}}"
                  tabindex="0"
            >
                {{ name }}
            </span>
        {{else}}
            <span class="breadcrumbs__item">
                <a href="{{href}}"
                   class="breadcrumbs__link"
                   aria-label="{{ariaLabel}}"
                >
                    {{ name }}
                </a>
            </span>
        {{/if}}
    {{/each}}
</div>
