<div
    class="breadcrumbs {{ class }}" {{{ attributes }}}
    aria-label="{{ ariaLabel }}"
    role="navigation"
>
    {{#each categories}}
        {{#if @last}}
            <span
                class="breadcrumbs__item"
                tabindex="0"
            >
                {{ name }}
            </span>
        {{else}}
            <span class="breadcrumbs__item">
                <a
                    href="{{ href }}"
                    class="{{ linkClass }}"
                >
                    {{ name }}
                </a>
            </span>
        {{/if}}
    {{/each}}
</div>
