<div class="infobar{{#if modifier}} infobar--{{ modifier }}{{/if}}">
    <div class="infobar__container">
        <p class="infobar__message">
            <span class="infobar__text">
                {{ text }}
            </span>
            {{#if link}}
                <a href="#" class="infobar__link">
                    {{ linkAnchor }}
                </a>
            {{/if}}
        </p>
        <button class="infobar__close" type="button">
            {{#if closeLabel}}
                {{ closeLabel }}
            {{/if}}
            {{#if closeIcon}}
                <svg class="infobar__close--icon">
                    <use xlink:href="#{{ closeIcon }}"></use>
                </svg>
            {{/if}}
        </button>
    </div>
</div>
<script src="{{#jsPath 'bars' }}{{/jsPath}}"></script>
