<div class="tab {{ class }}" {{{ attributes }}}>
    {{#each tabs as |tab|}}
        <div class="tab__title {{#if active}}tab__title--active{{/if}}"
             data-tab="{{ tabId }}"
        >
            {{ title }}
            <div class="tab__icon">
                {{ render '@icon' icon }}
            </div>
        </div>

        <div class="tab__content {{#if active}}tab__content--active{{/if}}"
             data-content="{{ tabId }}"
        >
            <p class="paragraph">
                {{ content }}
            </p>
        </div>
    {{/each}}
</div>

<script src="{{static 'tab.js' }}"></script>
