<div class="tab {{#if modifier}}tab--{{modifier}}{{/if}} {{ class }}" {{{ attributes }}}>
    {{#each tabs as |tab|}}
        <div class="tab__title {{#if active}}tab__title--active{{/if}} {{ class.title }}"
             data-tab="{{ tabId }}"
        >
            {{ title }}
            <div class="tab__icon {{ class.tabIconWrapper }}">
                {{render '@icon' icon }}
            </div>
        </div>

        <div class="
                 tab__content
                 {{#if active}}tab__content--active{{/if}}
                 {{ class.content }}
             "
             data-content="{{ tabId }}"
        >
            {{#if content}}
                {{{ content }}}
            {{/if}}
            {{#if contentElement}}
                {{ render (component contentElement) contentContext }}
            {{/if}}
        </div>
    {{/each}}
</div>

<script src="{{static 'tab.js' }}"></script>
