<div class="row row--no-margins minicart-product">
    <div class="col-xs-3 minicart-product__image">
        {{ render '@image' productImage }}
    </div>
    <div class="col-xs-9 minicart-product__info">
        <h3 class="minicart-product__name">
            <a class="link link--invert minicart-product__link" href="#">
                {{ productName }}
            </a>
        </h3>
        {{#if configurable }}
            {{ render '@dropdown-list' attributes }}
        {{/if}}
        <div class="minicart-product__price">
            {{ productPrice }}
        </div>
        <div class="minicart-product__bottom">
            <div class="minicart-product__qty">
                {{ render '@input' productQty }}
                {{#if updateQty }}
                    {{ render '@button' updateQty }}
                {{/if}}
            </div>
            <div class="minicart-product__actions">
                {{ render '@button--icon' editIcon }}
                {{ render '@button--icon' removeIcon }}
            </div>
        </div>
    </div>
</div>
