<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
    <link media="all" rel="stylesheet" href="{{ path '/css/styles.css' }}">
    <script src="{{ libs 'svg4everybody.js' }}"></script>
    <script src="{{ libs 'lazysizes.min.js' }}"></script>
    <script src="{{ path '/js/main.js' }}"></script>
    <script src="{{ libs 'jquery.js' }}"></script>
    <script src="{{ libs 'slick.min.js'}}"></script>
    <title>{{ title }}</title>
</head>
<body>
    {{{ inline "components/general/icons/icon-sprite.svg" }}}
    {{{ yield }}}
</body>
</html>
