<{{{ tag }}} class="catalog-list-item {{ class }}">
    {{#if badge}}
        {{ render (component badge.name) badge.context }}
    {{/if}}

    <a href="#" class="catalog-list-item__link">
        {{ render '@image' image }}
    </a>

    <div class="catalog-list-item__main">
        <div class="catalog-list-item__top">
            <h2 class="catalog-list-item__name">
                <a href="#" class="catalog-list-item__link">
                    {{ name }}
                </a>
            </h2>
            <div class="catalog-list-item__price">
                {{ render (component price.name) price.context }}
            </div>
        </div>
        <div class="catalog-list-item__reviews">
            Reviews here
        </div>
    </div>
</{{{ tag }}}>
