<div class="slider {{ class }}" {{{ attributes }}}>
    <div class="slider__handler">
        <div class="slider__slides">
            {{#each elements }}
                {{ render (component content) contentContext }}
            {{/each}}
        </div>
    </div>

    <div class="slider__navigation">
        {{render '@button--icon' iconPrev }}

        {{render '@button--icon' iconNext }}
    </div>
</div>

{{#if script }}
    <script src="{{static 'slider.js' }}"></script>
{{/if}}
