<h2>{{ heading1 }}</h2>
<ul class="var-list">
    {{#each colors}}
        <li class="var-list__elem var">
            <div class="var__color" style="background-color: {{ color }}">{{ color }}</div>
            <span class="var__name">{{ varName }}</span>
        </li>
    {{/each}}
</ul>

<h2>{{ heading2 }}</h2>
<ul class="var-list">
    {{#each mq}}
        <li class="var-list__elem var">
            <span class="var__name">{{ varName }}:</span>
            <span class="var__value">{{ value }}</span>
        </li>
    {{/each}}
</ul>

<h2>{{ heading3 }}</h2>
<ul class="var-list">
    {{#each fonts}}
        <li class="var-list__elem var">
            <span class="var__name">{{ varName }}:</span>
            <span class="var__value">{{ value }}</span>
        </li>
    {{/each}}
</ul>
